#important
{
  color:blue;
  font-weight: bolder;
}
.change-container
{
  color: firebrick;
  padding-top: 0px;
  margin-bottom: 5px;
  text-align: left;
  display: flex;
  flex-direction: row;
}
.change-item 
{
    color: black;
    font-weight: normal;
}
.change-item:nth-of-type(1)
{
  width:auto;
}
.change-item:nth-of-type(2)
{
  width:auto;
}
.space 
{
  margin-top: 75px;
}
#Trading
{
  color:orange;
  font-weight: bolder;
}
#color 
{
  color: green;
  font-family: 'Times New Roman', Times, serif;
  font-style: italic;
  font-weight: bolder;
}
#interesting
{
  color: orangered;
  font-family: 'Times New Roman', Times, serif;
  font-style: italic;
  font-weight: bolder;
}
.world
{
  color:pink;
  font-family: 'Times New Roman', Times, serif;
  font-style: italic;
  font-weight: bolder;
}
#SNKRZ
{
  color:grey;
  font-family: 'Times New Roman', Times, serif;
  font-style: italic;
  font-weight: bolder;
}
body {

    /* Add a background color or image */
    background-color: cyan;
    background-image: url('');

    /* Customize the font, size, and color for text*/
    font-family: Arial;
    font-size: 16px;
    color: black;

    /* Adjust the padding and margins */
    padding-top: 0;
    padding-left: 0;
    padding-right: 0;
    padding-bottom: 0;

    margin-top: 0;
    margin-left: 0;
    margin-right: 0;
    margin-bottom: 0;

}



/*
  Style Text: Add style rules for any headings (h1-6),
  paragraphs and links
*/

h1 {

}

h2 {

}

h3 {
  color:red;
}

p {
 
}

a {

}
a:link
{
  color:blue;
  font-weight: bold;
  font-family: Arial;
}
a:visited
{
  color: red;
  font-weight: bolder;
  font-family: Arial;
}
a:hover
{
  color:chocolate;
  font-weight: bold;
  font-family: Arial;
}
a:active
{
  color:green;
  font-weight: bold;
  font-family: Arial;
}

/*
  Style Lists: Styles added to the ol or ul style rulesets affect the entire
  list, while styles added to the li style ruleset affect individual list items
*/


ol {

}

ol li {

}


ul {
  list-style-type: disc; /* Set the list marker type to bullets */
  padding-left: 20px; 
}

ul li {
   margin-bottom: 20px;
}


/*
  Style Buttons: Add style rules for any headings (h1-6),
  paragraphs and links
*/

button {
  background-color: rosybrown;
  border: none;
  color: white;
  font-size: 16px;
  text-align: center;
  padding: 15px 32px;
  cursor: pointer;
}
#sign-now-button 
{
  background-color: red;
  width: 100px;
  height: 20px; 
  font-size: 12px; 
  display: flex;
  justify-content: center;
  align-items: center;
  white-space: nowrap;
  margin-top: 15px;
}



/* Select and style elements by class name or ID */


/* Example: This styles elements with class="header"*/
.header-container 
{
  padding-top: 5px;
  margin-bottom: 100px;
  text-align: left;
  display: flex;
  flex-direction: row;
}
.header-button
{
  background-color: rosybrown;
  text-align: center; 
  font-size: 16px; 
  color: white;
  padding: 10px 20px; 
  margin: 5px; 
  border: 2px solid black; 
  cursor: pointer;
}
.footer
{
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color:  mintcream; 
  color: white; 
  text-align: center;
  padding: 20px;
  border: 2px solid black;
}
.footer-link{
  display: block;
  text-align: center;
  font-style: italic;
  font-weight: bolder;
}
.header-item:nth-of-type(1)
{
  width:auto;
}
.header-item:nth-of-type(2)
{
  width:auto;
}
/* Example: This styles an element with an id="header-img" */
#header-img1
{
  margin-left:50px;
  margin-right: 100px;
  width: 100%;
  max-width: 400px;
  margin-bottom: 10px;
}
#header-img2
{
  margin-left:100px;
  margin-right: 50px;
  width: 100%;
  max-width: 300px;
}
#header-img3
{
  margin-left:100px;
  margin-right: 50px;
  width: 100%;
  max-width: 300px;
}
#header-img4
{
  margin-left:100px;
  margin-right: 50px;
  width: 100%;
  max-width: 300px;
}
/* Part 1: Navbar */

/* General style rule set for all items in ul */
.navbar ul 
{
    list-style: none;
    list-style-type: none;
    overflow: hidden;
    position: fixed;
    z-index: 50;
    top: 0;
    width: 100%;
    margin-bottom: 5px;
}

/* Style rule set for individual li */
.navbar ul li {
    float: left;
    margin: 3px;
}
/* Style rule set for individual li link */
.navbar ul li a {
    font-family: Arial;
    color: purple;
    font-size: 16px;
    text-decoration: underline;
    display: block;
    padding: 10px;
    text-align: center;
}

/* Style rule set for hovered link */
.navbar ul li a:hover {
    font-weight: bolder;
    color: white;
    font-family: 'Times New Roman', Times, serif;
}

/* Part 2: Flexbox */

/* General style rule set for flex container */
.flex-container {
  display: flex;
  flex-direction: row;
  gap: 20px;
}


/* Style rules for flex-item 1 */
.flex-item:nth-of-type(1) {

}

/* Style rules for flex-item 2 */
.flex-item:nth-of-type(2) {

}

/* Style rules for flex-item 3 */
.flex-item:nth-of-type(3) {

}
/* Style set for all flex-items */
.flex-item {
    background: white;
    color: black;
    font-weight: bold;
    text-align: center;
}
/* Add style to button */
#theme-button 
{
  background-color: blue;
  text-align: center; 
  font-size: 17px; 
  color: white;
  padding: 10px 20px; 
  margin: 5px; 
  border: 2px solid orange; 
  cursor: pointer;
  text-decoration: underline;
  border-width: 2px;
}
/* Customize Dark Mode Theme */
.dark-mode 
{
 background-color: black;
 color: white;
}
.dark-mode p
{
  color: lavender;
}
body.dark-mode h4,
body.dark-mode ul 
{
  color: lavender; 
}
.dark-mode h2
{
  color: darksalmon;
}
.dark-mode button 
{
  background-color: darkorange; 
  color: white;
}
.dark-mode a
{
  color: dodgerblue;
}
.dark-mode a:visited
{
  color: blue;
}
.dark-mode a:hover
{
  color: orange;
  text-decoration: underline;
}
.dark-mode a:active
{
  color: violet;
}
.dark-mode .footer 
{
  background-color: darkgreen;
  color: white;
}
.petition-container 
{
  display: flex;
  flex-direction: row;
  gap: 20px;
  width: 100%;
  padding-bottom: 50px;
}

.petition-para 
{
  width: 55%;
  padding-right: 10px;
}
.signatures 
{
  width: 45%;
  padding-right: 10px;
}
.dark-mode label[for="name"] 
{
  color: white;
}
.dark-mode label[for="hometown"] 
{
  color: white;
}
.dark-mode label[for="email"] 
{
  color: white;
}
.error 
{
  border-style: solid;
  border-width: 2px;
  border-color: red;
  background: pink;
}
.revealable
{
  position: relative;
  transform: translateY(150px);
  opacity: 0;
  transition: all 2s ease;
}
.active
{
  transform: translateY(0px);
  opacity: 1;
}
#reduce-motion 
{
  background-color: rosybrown;
  text-align: center; 
  font-size: 16px; 
  color: white;
  padding: 10px 20px; 
  margin: 5px; 
  border: 2px solid black; 
  cursor: pointer;
}
.dark-mode #reduce-motion
{
  background-color: darkorange; 
  color: white;
}
/* the modal that covers the background and prevents user interactions */
.modal 
{
  display: none; /* hides the modal from view by default*/
  position: fixed; /* keeps the modal in one place */
  z-index: 2; /* positions the modal on top of all other elements on the screen */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  background-color: rgba(0,0,0,0.4); /* 40% opacity black - other elements can still be seen */
  flex-direction: column; /* these flexbox rules center the content on the screen */
  align-items: center;
  justify-content: center;
}

/* box that contains all the content and images */
.modal-content 
{
  background-color: navy; /* update the colors and font sizes as you like */
  color: black;
  text-align: center;
  font-size: 3rem;
  display: flex; /* adds flexbox to center all items */
  justify-content: center;
  align-items: center;
}

#thanks-modal-content
{
  width: 20rem; /* sets a default width for the text container */
}

#modal-text-container 
{
  display: flex; /* adds flexbox to center the text and buttons (stretch feature) */
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
#closeButton 
{
  background-color: #3498db; 
  color: #fff; 
  border: none;
  padding: 10px 20px; 
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  border-radius: 5px;
  margin: 10px 0;
  margin-top: -20px;
}